{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "extends": [
    "next/core-web-vitals",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "eslint:recommended",
    "prettier"
  ],
  "plugins": ["eslint-plugin-import", "prettier"],
  "rules": {
    "curly": ["error", "all"],
    "no-shadow": ["error"],
    // 화살표 함수에 항상 return 값을 기입하도록 설정
    "arrow-body-style": ["error", "always"],
    // import문 내부에서 member 순서를 정렬. (import/order와 충돌 가능성 있음.)
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true
      }
    ],
    // 파일 상단 Import 문의 정렬 순서를 정의하는 규칙
    "import/order": [
      "error",
      {
        "pathGroups": [{ "pattern": "@", "group": "internal" }],
        "groups": [
          "external",
          "type",
          "parent",
          "internal",
          "sibling",
          "index",
          "builtin",
          "object"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "react/prop-types": "off",
    "react/jsx-sort-props": [
      "off",
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "multiline": "first",
        "reservedFirst": ["key", "ref"]
      }
    ],

    "import/prefer-default-export": "off",
    // React 컴포넌트를 무조건 arrow function 형태만 쓰도록 고정
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],

    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",

    //typescript-eslint
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/promise-function-async": "error",
    "@typescript-eslint/prefer-optional-chain": "error",
    // interface나 type 순서를 정렬. autofix가 되지 않으므로 불편하면 삭제처리 필요
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "interfaces": {
          "memberTypes": ["signature", "field", "method", "constructor"],
          "order": "alphabetically"
        },
        "typeLiterals": {
          "memberTypes": ["signature", "field", "method", "constructor"],
          "order": "alphabetically"
        }
      }
    ]
  }
}
